<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="LibraryPenaltyCase.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    

</head>
<body>
    <form runat="server">
        <asp:ContentPlaceHolder ID="head" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
